 *{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    color:white;
    background: #081b29;
}

.title{
    text-align: center;
    font-size: 60px;
    padding-bottom: 70px;
    padding-top: 30px;
}

.title span{
    color:#0bffeb;
}

section{
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 600px ;
    height: 500px ;
    padding: 75px 90px;
    margin-left: 120px;
}

.heading{
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 5px ;
    margin-bottom: 50px;
}

.logo{
    padding: 2px;
}

.countainer2{
    width: 400px;
    padding: 11px;
}

.progress2{
    padding: 3px;
    background: rgb(255, 255, 255);
    border-radius: 30px;
}

.bar-progress{
    height: 10px;
    background-color: #0bffeb;
    width: 90%;
    border-radius: 30px;
    animation: progressAnimation 3s;
}
.bar-progress2{
    height: 10px;
    background-color: #0bffeb;
    width: 80%;
    border-radius: 30px;
    animation: progressAnimation 3s;
}
.bar-progress3{
    height: 10px;
    background-color: #0bffeb;
    width: 30%;
    border-radius: 30px;
    animation: progressAnimation 3S;
}

.skill-per{
    height: 14px;
     border-radius: 10px;
     position: relative;
     animation: fillBars 3.4s;
     color: rgb(0, 0, 0);
}

.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 15px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 3px;
}

@keyframes fillBars{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes progressAnimation{
    0% { width: 0%; }
}

@media screen and (min-width: 400px) {
    .container{
        width:600px ;
        height: 500px ;
        padding: 75px 90px;
        margin-left: 10px;
    }
    .countainer2{
        width: 300px;
        padding: 11px;
    }
}